In [ ]:
import pickle
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')
%cd drive/MyDrive/dataiku

In [ ]:
with open ('model_pickle','rb') as f:
  pipeline = pickle.load(f)

In [ ]:
def pred_data(_data):
  _data = _data.replace(['?','Not in universe'], np.NaN);
  columns_to_non_numerical = ["year", "fill inc questionnaire for veteran's admin", "veterans benefits", "detailed industry recode", "detailed occupation recode"]
  for a_col in columns_to_non_numerical:
    _data[a_col] = _data[a_col].astype(str)
  _data_nul = (_data.isna().sum()*100 / len(_data))
  data_missing_columns = np.array((_data_nul[_data_nul>30]).index.tolist())
  _data = _data.drop(columns=data_missing_columns)
  X_test = _data.drop(columns='income')
  return X_test

In [ ]:
test_data = pd.read_csv('data/census_income_learn_edited.csv',skipinitialspace=True)
X_test = pred_data(test_data)

In [ ]:
pipeline.predict(X_test.iloc[2:3])[0]

In [ ]:
pipeline.predict(X_test.iloc[6:7])[0]

1

In [ ]:
pipeline.predict(X_test.iloc[0:1])

array([0])

In [ ]:
X_test.head(1)

,age,detailed industry recode,detailed occupation recode,education,wage per hour,marital status,major industry code,race,hispanic Origin,sex,...,live in this house 1 year ago,num persons worked for employer,country of birth father,country of birth mother,country of birth self,citizenship,veterans benefits,fill inc questionnaire for veteran's admin,weeks worked in year,year
0,73,0,0,High school graduate,0,Widowed,Not in universe or children,White,All other,Female,...,Not in universe under 1 year old,0,United-States,United-States,United-States,Native- Born in the United States,0,2,0,95

In [ ]:
d_test = X_test.copy()
d_test['veterans benefits'] = d_test['veterans benefits'].astype(int64)

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 28 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   age                                         199523 non-null  int64
 1   detailed industry recode                    199523 non-null  object
 2   detailed occupation recode                  199523 non-null  object
 3   education                                   199523 non-null  object
 4   wage per hour                               199523 non-null  int64
 5   marital status                              199523 non-null  object
 6   major industry code                         199523 non-null  object
 7   race                                        199523 non-null  object
 8   hispanic Origin                             198649 non-null  object
 9   sex                                         199523 non-null  object
 10  full or part time employment stat           199523 non-null  object
 11  capital gains                               199523 non-null  int64
 12  capital losses                              199523 non-null  int64
 13  divdends from stocks                        199523 non-null  int64
 14  tax filer status                            199523 non-null  object
 15  detailed household and family stat          199523 non-null  object
 16  detailed household summary in household     199523 non-null  object
 17  instance weight                             199523 non-null  float64
 18  live in this house 1 year ago               199523 non-null  object
 19  num persons worked for employer             199523 non-null  int64
 20  country of birth father                     192810 non-null  object
 21  country of birth mother                     193404 non-null  object
 22  country of birth self                       196130 non-null  object
 23  citizenship                                 199523 non-null  object
 24  veterans benefits                           199523 non-null  object
 25  fill inc questionnaire for veteran's admin  199523 non-null  object
 26  weeks worked in year                        199523 non-null  int64
 27  year                                        199523 non-null  object
dtypes: float64(1), int64(7), object(20)
memory usage: 42.6+ MB

In [ ]:
pipeline.predict(X_test.drop(columns='age').iloc[0:1])